$textColor1: #1a1b1e;
$textColor2: #868e96;
$textColor3: #747f8a;
$mainColor: #228be6;

.index-page {
  color: $textColor1;
  .head {
    background-color: white;
    height: 60px;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;

    .menu {
      display: none;
      @media (max-width: 760px) {
        display: block;
        position: relative;

        &::before {
          top: -6px;
        }
        &::after {
          top: 6px;
        }
        &::before,
        &::after {
          position: absolute;
          content: "";
          left: 0;
        }
        &,
        &::before,
        &::after {
          display: block;
          width: 18px;
          height: 2px;
          background-color: #000;
          outline: 1px solid transparent;
          transition-property: background-color, transform;
          transition-duration: 300ms;
        }
      }
    }
    .open-menu {
      background-color: transparent;
      &::before {
        transform: translateY(6px) rotate(45deg);
      }
      &::after {
        transform: translateY(-6px) rotate(-45deg);
      }
    }

    .left {
      display: flex;
      align-items: center;

      img {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        border-radius: 36px;
      }

      span {
        font-weight: bold;
        font-size: 20px;
      }
    }

    .center {
      font-size: 16px;
      a {
        display: inline-block;
        margin: 0 23px;
        position: relative;
        color: $textColor1;
        text-decoration: none;
        cursor: pointer;
      }
      a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        background: $textColor1;
        height: 2px;
        display: block;
        width: 100%;
        opacity: 0;
        transform: scaleX(0);
        transition: all 0.2s cubic-bezier(0.18, 0.89, 0.17, 0.88),
          opacity 0.15s ease;
      }
      a:hover:after,
      .active:after {
        transform: scaleX(1);
        opacity: 1;
      }
      @media (max-width: 760px) {
        position: absolute;
        top: 61px;
        left: 0px;
        width: calc(100vw - 32px);
        height: calc(100vh - 65px);
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 16px 16px 48px;
        line-height: 34px;

        a:hover:after,
        .active:after {
          transform: scaleX(0);
          opacity: 0;
        }
        a {
          font-size: 14px;
          margin: 0px;
        }
      }
    }
    .center-moble {
      display: none;
    }
    @media (max-width: 760px) {
      .center-moble {
        display: block;
      }
      .center-pc {
        display: none;
      }
    }
  }

  .bg-1 {
    width: 100%;
    overflow: hidden;
    svg {
      height: 56px;
      width: 100vw;
      transform: scaleX(-1);
      filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.05));
      fill: white;

      @media (max-width: 760px) {
        height: 18px;
      }
    }
  }
  .bg-2 {
    svg {
      fill: #f8f9fa;
      filter: none;
    }
  }

  .part-1,
  .part-4 {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .part-2,
  .part-3 {
    .body {
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 0 80px;
      padding-left: 16px;
      padding-right: 16px;
    }

    h2 {
      display: inline-block;
      position: relative;
      font-family: Greycliff CF, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
      font-weight: 900;
      font-size: 42px;
      line-height: 1.1;
      margin: 0;
      padding: 0;
      text-align: left;
      margin-bottom: 48px;
      letter-spacing: 1px;
      margin-left: 22px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 48px;
    }
    h2::before {
      top: -14px;
      left: -22px;
      border-left: 5px solid transparent;
      border-top: 5px solid transparent;
    }
    h2::after {
      bottom: -14px;
      right: -22px;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
    h2::before,
    h2::after {
      content: "";
      border-color: inherit;
      position: absolute;
      width: 10px;
      height: 10px;
      box-sizing: border-box;
    }

    h3 {
      font-family: Greycliff CF, sans serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.4;
      margin: 0;
      color: $textColor1;
      margin-bottom: 36px;
    }

    @media (max-width: 760px) {
      h2 {
        margin-bottom: 20px;
      }
      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .part-1 {
    position: relative;
    padding-top: 220px;
    padding-bottom: 180px;
    background-color: white;

    @media (max-width: 900px) {
      padding-bottom: 100px;
      padding-top: 90px;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        width: 128px;
        height: 128px;
        border-radius: 128px;
      }
      .title {
        background-image: linear-gradient(52deg, #1c7ed6 3%, #22b8cf 97%);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 48px;
        margin-top: 32px;
      }
      .desc {
        color: $textColor3;
        font-size: 20px;
        margin-top: 10px;
      }
    }

    .content {
      line-height: 1.55;
      margin-top: 36px;
      font-size: 24px;
      max-width: 800px;
      color: $textColor3;
    }

    .center {
      max-width: 900px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 30px;
      margin-top: 40px;

      .item {
        line-height: 1.55;
        width: 200px;
        i {
          width: 50px;
          height: 50px;
          color: #fff;
          border-radius: 8px;
          background-image: linear-gradient(52deg, #1c7ed6 3%, #22b8cf 97%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 28px;
        }
        > div {
          margin-top: 10px;
          .title {
            font-size: 16px;
            color: $textColor1;
          }
          .desc {
            font-size: 14px;
            color: $textColor2;
          }
        }
      }

      @media (max-width: 900px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 30px;

        .item {
          display: flex;
          width: auto;

          > div {
            margin: 0 0 0 20px;
            .desc {
              margin-top: 4px;
            }
          }
        }
      }
    }
  }

  .part-2 {
    background-color: #f8f9fa;

    .box-1 {
      margin-top: 48px;

      .item-warp {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px;

        .item {
          width: 535px;
          .title {
            font-size: 16px;
            font-weight: 500;
            color: $textColor1;
            margin-top: 20px;
          }
          .desc {
            margin-top: 12px;
            .icon {
              color: white;
              font-size: 14px;
            }
          }
        }

        @media (max-width: 760px) {
          grid-template-columns: repeat(1, minmax(0, 1fr));
          gap: 20px;
          .item {
            width: 100%;
          }
        }
      }
    }

    .box-2 {
      margin-top: 72px;
      .item-warp {
        display: flex;
        justify-content: space-between;

        .left {
          width: 360px;
          line-height: 1.55;
          > div {
            // display: flex;
            // align-items: baseline;
            margin-bottom: 16px;
          }
        }
        .right {
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 1px 3px rgb(0 0 0 / 5%),
            rgb(0 0 0 / 5%) 0px 20px 25px -5px,
            rgb(0 0 0 / 4%) 0px 10px 10px -5px;
        }
      }

      @media (max-width: 760px) {
        .item-warp {
          display: block;
          .left {
            width: auto;
          }
          .right {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .part-3 {
    // box-shadow: 0 1px 3px rgba(56, 44, 44, 0.05), rgb(0 0 0 / 5%) 0px 10px 15px -5px,
    //   rgb(0 0 0 / 4%) 0px 7px 7px -5px;

    .box-1 {
      margin-top: 52px;
      .item {
        margin-bottom: 48px;
        .top {
          line-height: 1.55;
          .line {
            display: flex;
            align-items: flex-start;
            margin-top: 16px;

            > div {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              min-height: 28px;
            }
          }
        }
        .center {
          margin-top: 16px;
          .left {
            .first-image,
            .image {
              border: 1px solid rgb(0 0 0 / 5%);
              border-radius: 8px;
              overflow: hidden;
            }
            // .first-image {
            //   width: 100%;
            //   height: 300px;
            // }
            // .image {
            //   height: 200px;
            //   box-sizing: border-box;
            // }
            .preview {
              .line {
                line-height: 1;
                height: 12px;
                font-size: 12px;
              }
            }
          }
          .right {
            max-height: 512px;
            .token-line {
              max-width: calc(100% - 32px);
            }
          }
        }
        @media (max-width: 760px) {
          .center {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 20px;

            .left {
              .first-image {
                height: 200px;
              }
              .image {
                height: 100px;
                box-sizing: border-box;
              }
            }
            .right {
              max-height: 300px;
            }
          }
        }
      }
    }
    .box-2 {
      margin-top: 72px;
      .content {
        width: 100%;
        height: 400px;
      }
    }
    .box-3 {
      margin-top: 72px;
      .content {
        .right {
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 1px 3px rgb(0 0 0 / 5%),
            rgb(0 0 0 / 5%) 0px 20px 25px -5px,
            rgb(0 0 0 / 4%) 0px 10px 10px -5px;
        }
      }

      @media (max-width: 760px) {
        .content {
          grid-template-columns: repeat(1, minmax(0, 1fr));
          gap: 20px;
        }
      }
    }
  }
}
